@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
/** MOBILE FIRST **/
:root {
    font-size: 15px;

    /* ## Colors */
    /* ### Primary */
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* ### Neutral */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

img {
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

body {
    display: grid;
    place-items: center;
    background-image: url(images/bg-pattern-top-mobile.svg),
        url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

h1,
h2,
h3 {
    font-weight: 700;
}
header,
main,
footer {
    padding: 20px;
    max-width: 400px;
}

/* header */
header {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 2.8rem;
    margin-top: 65px;
    padding: 0 20px;
    color: var(--Very-Dark-Magenta);
}

header p {
    padding: 15px 30px;
    margin-bottom: 15px;
    color: var(--Dark-Grayish-Magenta);
    font-weight: 500;
    line-height: 1.3;
}

header .reviews {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

header .reviews .review {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Magenta, magenta);
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
}

header .reviews .review .text {
    padding-top: 10px;
    font-weight: 700;
    color: var(--Very-Dark-Magenta, darkmagenta);
}

header .reviews .review .stars img {
    margin-left: 2px;
    width: 15px;
}

/* main */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main .card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 35px;
    gap: 25px;
    width: 100%;
    background-color: var(--Very-Dark-Magenta);
}

main .card .top {
    font-size: 0.7rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

main .card .top .text h2 {
    color: var(--White);
}

main .card .top .text h3 {
    margin-top: 5px;
    font-size: 1rem;
    color: var(--Soft-Pink);
}

main .card .bottom {
    line-height: 1.5;
    color: var(--White);
}

@media (min-width: 1100px) {
    body {
        height: 100vh;
        padding-top: 50px;
        background-image: url(images/bg-pattern-top-desktop.svg),
            url(images/bg-pattern-bottom-desktop.svg);
    }

    header,
    main,
    footer {
        padding: 0px;
        max-width: 1050px;
    }

    header {
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 300px;
        padding: unset;
    }

    header .left {
        text-align: left;
        width: 45ch;
    }

    header .left h1 {
        padding: 0;
    }

    header .left p {
        padding: 30px 20px 0 0;
    }

    header .reviews {
        width: 45ch;
        align-self: flex-end;
    }

    header .reviews .review {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 15px 25px 15px 10px;
    }

    header .reviews .review .text {
        padding: 0;
    }

    header .reviews .review:nth-of-type(2) {
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
    }

    header .reviews .review:first-of-type {
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
    }

    main {
        justify-content: space-between;
    }

    main .card {
        width: calc(33% - 10px);
    }

    main .card:nth-child(2) {
        margin-top: 30px;
    }

    main .card:last-child {
        margin-top: 60px;
    }
}
